{% extends "op_layout.html" %}
{% block title %}
Operation Index
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm fixed-top py-3">
    
    <img class = "left" src="{{ url_for('static', filename='/img/left.png')}}" alt="">
    <img class = "right" src="{{ url_for('static', filename='/img/right.png')}}" alt="">  
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ">
                
                
                
                <li class="nav-item active"><h4 style="position:absolute; top:45%; left: 25%; ">Doing the Disinfection workflow for: {{posename}}</h4></li>
                
                
                
                
                
            </ul>
        </div>
    </div>
</nav>
<main id="main" class="main">

    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <br>
    <div class="text-center">
      <img src="{{ url_for('static', filename='/img/logo.png')}}" class="rounded" alt="...">
    </div>
  
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <nav class="navbar navbar-expand-lg  py-3">
    
       
        
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="#" >  </a></li>
                <li class="nav-item active"><a href="#" ><img src="{{ url_for('static', filename='/img/setting.png')}}" alt=""></a></li>
                <li class="nav-item active"><a href="#" ><img src="{{ url_for('static', filename='/img/analyse.png')}}" alt=""></a></li>
                <li class="nav-item active"><a href="#" ><img src="{{ url_for('static', filename='/img/blank.png')}}" alt=""></a></li>
                <li class="nav-item active"><a href="#" >  </a></li>
                <li class="nav-item active"><a href="#" >  </a></li>
                <li class="nav-item active"><a href="#" >  </a></li>
                <li class="nav-item active"><a href="#" ><img src="{{ url_for('static', filename='/img/blank.png')}}" alt=""></a></li><li class="nav-item active"><a href="#" ><img src="{{ url_for('static', filename='/img/blank.png')}}" alt=""></a></li>
                <li class="nav-item active"><a href="#" ><img src="{{ url_for('static', filename='/img/blank.png')}}" alt=""></a></li>
                <li class="nav-item active"><a href="#" ><img src="{{ url_for('static', filename='/img/thunder.png')}}" alt=""></a></li>
                <li class="nav-item active"><a href="#" ><img src="{{ url_for('static', filename='/img/stopwatch.png')}}" alt=""></a></li>
                <li class="nav-item active"><a href="{{url_for('select_pose')}}" ><img src="{{ url_for('static', filename='/img/radio-on.png')}}" alt=""></a></li>
                <li class="nav-item active"><a href="#" ><img src="{{ url_for('static', filename='/img/stop.png')}}" alt=""></a></li>
            </ul>
        </div>
    </div>
</nav>
</main>
{% endblock %}